openapi: 3.1.0
info:
  title: Furupura Shop API
  description: |
    ふるぷらショップ向けAPI

    [← API Portal に戻る](../index.html)
  version: 1.0.0
  contact:
    name: Furupura API Team
    email: api@furupura.jp

servers:
  - url: https://api.furupura.jp/shop/v1
    description: Production
  - url: https://api-staging.furupura.jp/shop/v1
    description: Staging

tags:
  - name: auth
    description: 認証
  - name: products
    description: 商品管理
  - name: orders
    description: 注文管理
  - name: inventory
    description: 在庫管理
  - name: shop
    description: ショップ情報
  - name: shopowner
    description: ショップオーナー管理
  - name: financial
    description: 金融・決済管理

paths:
  # Products
  /products:
    $ref: './paths/products.yaml#/~1products'
  /products/{productId}:
    $ref: './paths/products.yaml#/~1products~1{productId}'
  /products/{productId}/inventory:
    $ref: './paths/products.yaml#/~1products~1{productId}~1inventory'
  /products/{productId}/tags:
    $ref: './paths/products.yaml#/~1products~1{productId}~1tags'
  # Inventory
  /products/{productId}/checkout:
    $ref: './paths/inventory.yaml#/~1products~1{productId}~1checkout'
  /products/cancel-checkout:
    $ref: './paths/inventory.yaml#/~1products~1cancel-checkout'
  /products/cancel-sold:
    $ref: './paths/inventory.yaml#/~1products~1cancel-sold'
  /products/{productId}/status:
    $ref: './paths/inventory.yaml#/~1products~1{productId}~1status'

  # Orders
  /orders:
    $ref: './paths/orders.yaml#/~1orders'
  /orders/myshop:
    $ref: './paths/orders.yaml#/~1orders~1myshop'
  /orders/{orderId}/shipping:
    $ref: './paths/orders.yaml#/~1orders~1{orderId}~1shipping'
  /orders/{orderId}/deliver:
    $ref: './paths/orders.yaml#/~1orders~1{orderId}~1deliver'
  /orders/{orderId}/return:
    $ref: './paths/orders.yaml#/~1orders~1{orderId}~1return'
  /orders/{orderId}/cancel:
    $ref: './paths/orders.yaml#/~1orders~1{orderId}~1cancel'

  # Authentication (Shop Owner)
  /auth/signup:
    $ref: './paths/auths.yaml#/~1auth~1signup'
  /auth/login:
    $ref: './paths/auths.yaml#/~1auth~1login'
  /auth/logout:
    $ref: './paths/auths.yaml#/~1auth~1logout'
  /auth/verify-password:
    $ref: './paths/shopowner.yaml#/~1verifyPassword'

  # Shop Owner Profile
  /profile:
    $ref: './paths/shopowner.yaml#/~1profile'

  # Shop
  /shop:
    $ref: './paths/controller.yaml#/~1shop'

  # Financial
  /shop/balance:
    $ref: './paths/financial.yaml#/~1shop~1balance'
  /shop/bankAccount:
    $ref: './paths/financial.yaml#/~1shop~1bankAccount'
  /withdrawals:
    $ref: './paths/financial.yaml#/~1withdrawals'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
