openapi: 3.1.0
info:
  title: Furupura User API
  description: |
    ふるぷらユーザー向けAPI

    [← API Portal に戻る](../index.html)
  version: 1.0.0
  contact:
    name: Furupura API Team
    email: api@furupura.jp

servers:
  - url: https://api.furupura.jp/user/v1
    description: Production
  - url: https://api-staging.furupura.jp/user/v1
    description: Staging

tags:
  - name: auth
    description: 認証
  - name: profile
    description: プロフィール管理
  - name: browsing
    description: 商品閲覧
  - name: checkout
    description: 購入手続き
  - name: orders
    description: 注文管理
  - name: favorites
    description: お気に入り管理
  - name: notifications
    description: 通知管理
  - name: subscriptions
    description: サブスクリプション管理

paths:
  # 認証
  /auth/signup:
    $ref: './paths/auth.yaml#/~1auth~1signup'
  /auth/verify-email:
    $ref: './paths/auth.yaml#/~1auth~1verify-email'
  /auth/resend-verification:
    $ref: './paths/auth.yaml#/~1auth~1resend-verification'
  /auth/login:
    $ref: './paths/auth.yaml#/~1auth~1login'
  /auth/logout:
    $ref: './paths/auth.yaml#/~1auth~1logout'

  # プロフィール
  /profile:
    $ref: './paths/profile.yaml#/~1profile'
  /profile/verify-password:
    $ref: './paths/profile.yaml#/~1profile~1verify-password'

  # 商品閲覧
  /products:
    $ref: './paths/browsing.yaml#/~1products'
  /products/{id}:
    $ref: './paths/browsing.yaml#/~1products~1{id}'

  # カテゴリー
  /categories:
    $ref: './paths/categories.yaml#/~1categories'
  /categories/tree:
    $ref: './paths/categories.yaml#/~1categories~1tree'
  /categories/map:
    $ref: './paths/categories.yaml#/~1categories~1map'
  /categories/{id}:
    $ref: './paths/categories.yaml#/~1categories~1{id}'
  /categories/slug/{slug}:
    $ref: './paths/categories.yaml#/~1categories~1slug~1{slug}'

  # タグ
  /tags:
    $ref: './paths/tags.yaml#/~1tags'
  /tags/with-products:
    $ref: './paths/tags.yaml#/~1tags~1with-products'
  /tags/{id}:
    $ref: './paths/tags.yaml#/~1tags~1{id}'

  # エリア・ショップ
  /areas:
    $ref: './paths/areas.yaml#/~1areas'
  /shops:
    $ref: './paths/shops.yaml#/~1shops'
  /shops/{id}:
    $ref: './paths/shops.yaml#/~1shops~1{id}'
  /shops/slug/{slug}:
    $ref: './paths/shops.yaml#/~1shops~1slug~1{slug}'

  # 注文
  /orders:
    $ref: './paths/orders.yaml#/~1orders'
  /orders/myorders:
    $ref: './paths/orders.yaml#/~1orders~1myorders'
  /orders/{id}:
    $ref: './paths/orders.yaml#/~1orders~1{id}'
  /orders/rentals/{id}/purchase:
    $ref: './paths/orders.yaml#/~1orders~1rentals~1{id}~1purchase'
  /orders/rentals/{id}/extend:
    $ref: './paths/orders.yaml#/~1orders~1rentals~1{id}~1extend'
  /orders/{id}/final-payment-check:
    $ref: './paths/orders.yaml#/~1orders~1{id}~1final-payment-check'
  /orders/{id}/payment-failed:
    $ref: './paths/orders.yaml#/~1orders~1{id}~1payment-failed'

  # お気に入り
  /favorites:
    $ref: './paths/favorites.yaml#/~1favorites'
  /favorites/products/{id}:
    $ref: './paths/favorites.yaml#/~1favorites~1products~1{id}'
  /favorites/shops/{id}:
    $ref: './paths/favorites.yaml#/~1favorites~1shops~1{id}'
  /favorites/check:
    $ref: './paths/favorites.yaml#/~1favorites~1check'

  # 通知
  /notifications/settings:
    $ref: './paths/notifications.yaml#/~1notifications~1settings'
  /notifications:
    $ref: './paths/notifications.yaml#/~1notifications'
  /notifications/{notification_id}:
    $ref: './paths/notifications.yaml#/~1notifications~1{notification_id}'
  /notifications/mark-read:
    $ref: './paths/notifications.yaml#/~1notifications~1mark-read'
  /notifications/mark-all-read:
    $ref: './paths/notifications.yaml#/~1notifications~1mark-all-read'
  /notifications/{id}/mark-read:
    $ref: './paths/notifications.yaml#/~1notifications~1{id}~1mark-read'
  /notifications/unread-count:
    $ref: './paths/notifications.yaml#/~1notifications~1unread-count'

  # サブスクリプション
  /subscriptions/plans:
    $ref: './paths/subscriptions.yaml#/~1subscriptions~1plans'
  /subscriptions/plans/{id}:
    $ref: './paths/subscriptions.yaml#/~1subscriptions~1plans~1{id}'
  /subscriptions/plans/{id}/join:
    $ref: './paths/subscriptions.yaml#/~1subscriptions~1plans~1{id}~1join'
  /subscriptions/unsubscribe:
    $ref: './paths/subscriptions.yaml#/~1subscriptions~1unsubscribe'
  /subscriptions/used-items:
    $ref: './paths/subscriptions.yaml#/~1subscriptions~1used-items'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
